<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>부산 등산 가이드</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">부산 등산 가이드</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">게시판</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">교통 정보</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">등산 정보 페이지</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">부산 등산 가이드</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">누구나 쉽게 등산을 즐길 수 있도록 여러가지 정보를 제공하는 페이지와 회원들이 서로 의견을 공유할 수 있는 게시판 페이지를 구현했습니다. </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">자유 게시판 & 등산 게시판</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">회원들이 게시글과 댓글을 작성할 수 있는 게시판 입니다</p>
                        <a class="btn btn-light btn-xl" th:href="@{/board/list}">자유 게시판</a>
                        <a class="btn btn-light btn-xl" th:href="@{/board2/list2}">등산 게시판</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">교통권+전용 홈페이지</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">ktx표 예매</h3>
                            <p class="text-muted mb-0"></p>
                <a class="btn btn-light btn-xl" href="https://www.letskorail.com/?NaPm=ct%3Dkw5rcuaj%7Cci%3Dcheckout%7Ctr%3Dds%7Ctrx%3D%7Chk%3Dd21ef057c95a4c867914651a3e6cd09d662d8211">바로 가기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">국내 항공권 예매</h3>
                            <p class="text-muted mb-0"></p>
                            <a class="btn btn-light btn-xl" href="https://flight.naver.com/">바로 가기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">시외 버스 예매</h3>
                            <p class="text-muted mb-0"></p>
                            <a class="btn btn-light btn-xl" href="https://txbus.t-money.co.kr/main.do">바로 가기</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">부산 등산전용 홈페이지</h3>
                            <p class="text-muted mb-0"></p>
                            <a class="btn btn-light btn-xl" href="https://www.bsbukgu.go.kr/tour/index.bsbukgu">바로 가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:href="@{/img/portfolio/fullsize/1.jpg}" title="금정산">
                            <img class="img-fluid" th:src="@{/img/portfolio/thumbnails/1.jpg}" alt="ddd" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">금정산</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:href="@{/img/portfolio/fullsize/2.jpg}" title="금련산">
                            <img class="img-fluid" th:src="@{/img/portfolio/thumbnails/2.jpg}" alt="ddd" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">금련산</div>
                            </div>
                        </a>
                    </div>        
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:href="@{/img/portfolio/fullsize/3.png}" title="장산">
                            <img class="img-fluid" th:src="@{/img/portfolio/thumbnails/3.png}" alt="ddd" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">장산</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:href="@{/img/portfolio/fullsize/4.jpg}" title="금정산-범어사">
                            <img class="img-fluid" th:src="@{/img/portfolio/thumbnails/4.jpg}" alt="ddd" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">금정산-범어사</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:href="@{/img/portfolio/fullsize/5.jpg}" title="금련산-야경">
                            <img class="img-fluid" th:src="@{/img/portfolio/thumbnails/5.jpg}" alt="ddd" />
                            <div class="portfolio-box-caption">
                                <div class="project-name">금련산-야경</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:href="@{/img/portfolio/fullsize/6.jpg}" title="장산-야경">
                            <img class="img-fluid" th:src="@{/img/portfolio/thumbnails/6.jpg}" alt="ddd" />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-name">장산-야경</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">등산 정보 페이지</h2> 
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">등산 코스 경로, 거리 및 시간, 주변 교통 정보와 풍경 사진을 제공하는 등산 정보 페이지 입니다</p>
                <a class="btn btn-light btn-xl" th:href="@{/ds/GeumJeong}">금정산</a>
                <a class="btn btn-light btn-xl" th:href="@{/ds/Jang}">장산</a>
                <a class="btn btn-light btn-xl" th:href="@{/ds/BaekYang}">백양산</a>
                <a class="btn btn-light btn-xl" th:href="@{/ds/GeumRyeon}">금련산</a>
        </section>
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - https://startbootstrap.com/theme/creative </div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
