<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">게시판 수정</h1>
        <form action="/board2/modify2" method="post">
        <!-- 페이지 번호 -->
        <input type="hidden" name="page" th:value="${requestDTO.page}">
        <input type="hidden" name="type" th:value="${requestDTO.type}">
        <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

        <div class="form-group">
            <label>번호</label>
            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
        </div>

        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" >
        </div>

        <div class="form-group">
            <label>내용</label>
            <textarea class="form-control" rows="5" name="content" >[[${dto.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
        </div>

        <div class="form-group">
            <label>등록 날짜</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" disabled>
        </div>

        <div class="form-group">
            <label>수정 날짜</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" disabled>
        </div>
        </form>

        <button type="button" class="btn btn-primary modifyBtn">수정</button>
        <button type="button" class="btn btn-info listBtn">목록</button>
        <button type="button" class="btn btn-danger removeBtn">삭제</button>

    </th:block>
</th:block>
<script th:inline="javascript">
    var actionFrom = $("form"); //form 태그 객체

    $(".removeBtn").click(function () {
        actionFrom
            // attr()은 요소(element)의 속성(attribute)의 값을 추가
            .attr("action", "/board/remove")
            .attr("method", "post")

        actionFrom.submit();
    });

    $(".modifyBtn").click(function () {
        // confirm: 수정 전에 확인 창 띄어주는 기능
        if(!confirm("수정 하시겠습니까?")) {
            return;
        }

        actionFrom
            .attr("action", "/board2/modify2")
            .attr("method", "post")

        actionFrom.submit();
    });

    $(".listBtn").click(function () {
        // var pageInfo = $("input[name='page']");
        var page = $("input[name='page']");
        var type = $("input[name='type']");
        var keyword = $("input[name='keyword']");

        actionFrom.empty(); // form 태그의 모든 내용 지움

        actionFrom.append(page); // 목록 페이지 이동에 필요한 내용을 다시 추가(페이지 정보)
        actionFrom.append(type); // 목록 페이지 이동에 필요한 내용을 다시 추가(페이지 정보)
        actionFrom.append(keyword); // 목록 페이지 이동에 필요한 내용을 다시 추가(페이지 정보)

        actionFrom
            .attr("action", "/board2/list2")
            .attr("method", "get");
        console.log(actionFrom.html()); // 먼저 확인 후에 주석 처리
        actionFrom.submit(); // 확인 후 주석 해제
    })

</script>
</body>
</html>